[submodule "openlayers"]
	path = openlayers
	url = https://github.com/openlayers/openlayers
[submodule "geoext2"]
	path = geoext2
	url = https://github.com/geoext/geoext2
[submodule "packages/sqlite-proxy"]
	path = packages/sqlite-proxy
	url = https://github.com/tenrapid/ExtJS5-SQLite-Proxy.git
