[submodule "packages/sqlite-proxy"]
	path = packages/sqlite-proxy
	url = https://github.com/tenrapid/ExtJS5-SQLite-Proxy.git
[submodule "libs/jcrop"]
	path = libs/jcrop
	url = https://github.com/tapmodo/Jcrop.git
[submodule "libs/openlayers"]
	path = libs/openlayers
	url = https://github.com/openlayers/openlayers.git
[submodule "libs/geoext2"]
	path = libs/geoext2
	url = https://github.com/geoext/geoext2
