
.x-form-item-label-default {
/* 	font-size: 11px; */
/* 	padding-top: 3px; */
}

.x-form-trigger-wrap {
	background: white;
}

.x-form-text-default.x-form-textarea {
	padding-top: 3px;
}

.x-btn-default-small.btn-ok {
	background-image: -webkit-linear-gradient(top,#EFF5FD,#D0E1F2);
}
.x-btn-default-small.btn-ok.x-btn-focus,
.x-btn-default-small.btn-ok.x-btn-over {
	background-image: -webkit-linear-gradient(top,#E1F0FA,#BBD2EA);
}


	/*
	 *	OpenLayers
	 */
 
 
div.olControlZoom {
	background: rgba(0,0,0,0.15);
	padding: 0;
}
div.olControlZoom a {
	background: white;
	color: #333;
}
div.olControlZoom a:hover {
	background: #ddd;
}

.olControlLayerSwitcher {
	color: #333;
	width: 22em;
	font-family: Tahoma, sans serif;
	font-weight: normal;
}
.olControlLayerSwitcher .layersDiv {
	background: white;
	padding: 14px 14px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border: 1px solid rgba(0,0,0,0.2);
	border-right-width: 0;
}
.olControlLayerSwitcher .layersDiv .baseLbl, 
.olControlLayerSwitcher .layersDiv .dataLbl {
	font-weight: bold;
}

.olControlAttribution {
	right: 1.5em;
	bottom: 0.8em;
}