
.x-form-item-label-default {
/* 	font-size: 11px; */
/* 	padding-top: 3px; */
}

.x-webkit .x-form-text {
	height: calc(100% + 5px);
}

.x-form-trigger-wrap {
	background: white;
}

.x-form-text-default.x-form-textarea {
	padding-top: 3px;
}

.x-fieldset-default {
	padding: 2px 10px 0px !important;
	margin: 0 0 0px !important;
	border-radius: 4px !important;
	box-shadow: inset 0 1px 3px #959CA8;
	background-color: #E2E2E2;
	border: 1px solid #CBCBCB !important;
	border-width: 0 !important;
	border-bottom-width: 1px !important;
}
.x-fieldset-header-default {
	padding: 0px 0px 15px !important;
	line-height: 14px;
	margin: 0 0px -8px;
}
.x-fieldset-header-default>.x-fieldset-header-text {
	color: #444;
}

.x-btn-default-small.btn-ok {
	background-image: -webkit-linear-gradient(top,#EFF5FD,#D0E1F2);
}
.x-btn-default-small.btn-ok.x-btn-focus,
.x-btn-default-small.btn-ok.x-btn-over {
	background-image: -webkit-linear-gradient(top,#E1F0FA,#BBD2EA);
}

body > .x-mask {
	background-color: rgba(150,150,150,0.5);
}

.x-css-shadow {
	transform: translateZ(0);
	-webkit-filter: drop-shadow(0px 0px 6px #999);
	box-shadow: none !important;
	background-color: white;
}


.x-tip-default {
	border-width: 0 !important;
	background-color: #fff !important;
	border-radius: 4px !important;
	/* enable hardware accelaration to use filters*/
	transform: translateZ(0);
	-webkit-filter: drop-shadow(0px 0px 12px #555);
}
.x-tip-default .x-tip-anchor {
	border-color: #fff;
	width: 18px;
	height: 18px;
	border-width: 9px;
}
.x-tip-default .x-tip-anchor-bottom {
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}
.x-tip-default .x-tip-anchor-top {
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}
.x-tip-default .x-tip-anchor-left {
	border-bottom-color: transparent;
	border-top-color: transparent;
	border-left-color: transparent;
}
.x-tip-default .x-tip-anchor-right {
	border-bottom-color: transparent;
	border-top-color: transparent;
	border-right-color: transparent;
}

.x-grid-item.valid-waypoint-drop-target {
	background-color: #C2DCF5;
}

.waypoint-picture-thumbnail {
	width: 62px;
	height: 62px;
	margin-right: 4px;
	margin-bottom: 4px;
	float: left;
	text-align: center;
	border: 1px solid #b5b8c8;
	position: relative;
	cursor: pointer;
}
.waypoint-picture-thumbnail.x-view-item-focused {
	outline-width: 0 !important;
}
.waypoint-picture-thumbnail:hover {
	border-color: #a1a1a1; 
}
.waypoint-picture-holder {
	width: 100%;
	height: 100%;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.waypoint-picture-add-button {
	font-size: 43px; 
	font-weight: normal;
	color: #aaa;
	-webkit-user-select: none;
}
.waypoint-picture-add-button:hover {
	background-color: #b5b8c8;
	border-color: #b5b8c8;
	color: #eee;
}
.waypoint-picture-remove-button {
	display: none;
	width: 19px;
	height: 19px;
	cursor: pointer;
	font-size: 14px;
	position: absolute;
	bottom: -1px;
	right: -1px;
	z-index: 1;
	color: #777;
	background-color: #e9e9e9;
}
.waypoint-picture-remove-button:hover {
	color: #fff;
	background-color: #a1a1a1;
}
.waypoint-picture-thumbnail:hover .waypoint-picture-remove-button {
	display: block;
}

/*
 * Picture ComboBox
 */

.picture-combobox input {
	background-position: 50%;
	background-size: cover;
	background-image: none;
	color: transparent;
	-webkit-user-select: none;
	line-height: 30px;
	font-size: 24px;
	font-family: FontAwesome;
	text-align: center;
	background-color: transparent;
	-webkit-font-smoothing: antialiased;
}
.picture-combobox input::-webkit-input-placeholder {
	color: #bbb;
}
.picture-combobox .x-form-trigger-wrap {
	background-color: #e8e8e8;
}

.picture-combobox .x-form-trigger {
	width: 17px;
}
.picture-combobox .x-form-clear-trigger {
	width: 17px;
	height: 18px;
	display: none;
}
.picture-combobox .x-form-arrow-trigger {
	width: 17px;
	height: calc(100% + 1px);
}
.picture-combobox .x-form-trigger-clear-enabled .x-form-clear-trigger {
	display: block;
}
.picture-combobox .x-form-trigger-clear-enabled .x-form-arrow-trigger {
	height: calc(100% - 17px);
}

.x-boundlist li.waypoint-picture {
	display: table;
	width: 100%;
}
.x-boundlist .waypoint-picture-thumbnail {
	margin-bottom: 0px;
	border-width: 0;
	float: none;
	display: table-cell;
	cursor: default;
}
.x-boundlist .waypoint-picture-name {
	display: table-cell;
	vertical-align: middle;
	padding: 0 7px;
	color: #777;
	font-size: 11px;
	max-width: 250px;
}


.x-grid-cell .waypoint-picture-thumbnail {
	width: 40px;
	height: 40px;
}
.x-grid-cell .waypoint-picture-add-button {
	font-size: 20px; 
	line-height: 34px;
}


.waypoint-picture-crop-indicator {
	float: right; 
	color: #999; 
	font-size: 14px; 
	margin: -1px 0 -2px 0;
}

	/*
	 *	FontAwesome
	 */

.fa-lg {
	font-size: 1.3em;
	line-height: .75em;
	vertical-align: -6%;
}


	/*
	 *	OpenLayers
	 */
 
 
div.olControlZoom {
	background: rgba(0,0,0,0.15);
	padding: 0;
}
div.olControlZoom a {
	background: white;
	color: #333;
}
div.olControlZoom a:hover {
	background: #ddd;
}

.olControlLayerSwitcher {
	color: #333;
	width: 22em;
	font-family: Tahoma, sans serif;
	font-weight: normal;
}
.olControlLayerSwitcher .layersDiv {
	background: white;
	padding: 14px 14px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border: 1px solid rgba(0,0,0,0.2);
	border-right-width: 0;
}
.olControlLayerSwitcher .layersDiv .baseLbl, 
.olControlLayerSwitcher .layersDiv .dataLbl {
	font-weight: bold;
}

.olControlAttribution {
	right: 1.5em;
	bottom: 0.8em;
}