$grid-row-cell-selected-background-color: #E3ECF5;
$boundlist-item-selected-background-color: #E3ECF5;
$boundlist-item-over-background-color: #e3e3e3;

$grid-row-cell-focus-border-color: #999;

$form-item-margin-bottom: 6px;
$form-field-padding: 3px 4px 4px;
$form-field-border-color: #C3C7D8;
$form-field-focus-border-color: #878C93;
$form-textarea-line-height: 16px !default;

$fieldset-padding: 11px 10px 0 !default;
$fieldset-border-color: #CBCBCB !default;
$fieldset-header-padding: 3px 6px 22px !default;


$progress-bar-background-gradient: null;
$progress-bar-background-color: #D7E4F0;
$progress-text-color-back: #666;
$progress-text-color-front: #666;
