$grid-row-cell-selected-background-color: #E3ECF5;
$boundlist-item-selected-background-color: #E3ECF5;

$grid-row-cell-focus-border-color: #999;

$form-text-field-padding: 2px 4px 2px 4px;

$progress-bar-background-gradient: null;
$progress-bar-background-color: #D7E4F0;
$progress-text-color-back: #666;
$progress-text-color-front: #666;
